@tailwind base;
@tailwind components;
@tailwind utilities;

.top-area, .bottom-area {
  flex: 1;
}

.middle-area {
  flex: 2;
}

.weight-0\.5 {
  flex: 0.5;
}

.weight-1 {
  flex: 1;
}

.weight-2 {
  flex: 2;
}